<div>
  <div class="col-md-8 page-header list-group-item">
    <h1>Total: {{ vm.total | number }}</h1>
  </div>

  <div class="col-md-8 input-group">
    <span class="input-group-addon">$</span>
    <input
      type="text"
      class="form-control"
      ng-model="vm.transactionAmount"
      placeholder="Enter amount"
      aria-describedby="transaction amount"
    >

    <span class="input-group-btn">
      <button
        type="button"
        class="btn btn-success"
        ng-click="vm.appendTransaction(vm.transactionAmount, 'deposit')"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-danger"
        ng-click="vm.appendTransaction(vm.transactionAmount, 'withdrawl')"
      >
        Remove
      </button>
    </span>
  </div>


  {{ vm }}
  <!--<span>vm.total: {{ vm.total }}</span> - <span>vm.transactions: {{ vm.transactions }}</span>-->

  <h4 class="col-md-8">Wallet statement:</h4>
  <table class="table table-striped table-hover">
    <tr ng-repeat="transaction in vm.transactions">
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.subTotal }}</td>
    </tr>
  </table>

  <!--
  <ul class="col-md-8 list-group">
    <li ng-repeat="transaction in vm.transactions" class="list-group-item list-group-item-success">+ $100</li>
    <li class="list-group-item list-group-item-danger">- $200</li>
  </ul>
  -->
</div>
