<div>
  <div class="col-md-8 page-header list-group-item">
    <h1>Total: $110.00</h1>
  </div>

  <div class="col-md-8 input-group">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control" placeholder="Enter amount" aria-describedby="basic-addon2">

    <span class="input-group-btn">
      <button type="button" class="btn btn-success">Add</button>
      <button type="button" class="btn btn-danger">Remove</button>
    </span>
  </div>

  <h4 class="col-md-8">Wallet statement:</h4>

  <ul class="col-md-8 list-group">
    <li class="list-group-item list-group-item-success">+ $100</li>
    <li class="list-group-item list-group-item-danger">- $200</li>
  </ul>
</div>
