<form>
  <div class="col-md-8 page-header list-group-item">
    <h1>Total: {{ vm.total | currency:"£" }}</h1>
  </div>

  <div class="col-md-8 input-group">
    <span class="input-group-addon">£</span>
    <input
      type="text"
      class="form-control"
      ng-model="vm.transactionAmount"
      placeholder="Enter amount"
      aria-describedby="transaction amount"
    >
    <span ng-show="form.size.$error.positive">The value must be positive!</span>
    <span class="input-group-btn">
      <button
        type="button"
        class="btn btn-success"
        ng-click="vm.appendTransaction(vm.transactionAmount, 'deposit')"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-danger"
        ng-click="vm.appendTransaction(vm.transactionAmount, 'withdrawl')"
      >
        Remove
      </button>
    </span>
  </div>

  <h4 class="col-md-8">Wallet statement:</h4>
  <table class="table table-striped table-hover">
    <thead>
      <th id="date">Date</th>
      <th id="type">Type</th>
      <th id="amount">Amount</th>
      <th id="Sub-total<">Sub-total</th>
    </thead>
    <tr ng-repeat="transaction in vm.transactions | orderBy : transaction.date : true">
      <td headers="date">{{ transaction.date | date:'medium' }}</td>
      <td headers="type">{{ transaction.type }}</td>
      <td headers="amount">{{ transaction.amount | currency:"£" }}</td>
      <td headers="sub-total">{{ transaction.subTotal | currency:"£" }}</td>
    </tr>
  </table>

</form>
